<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>Breaking Bad <%= page %></h3><br>
  <div>
    <table>
      <tr>
        <img id="char-image" src="">
      </tr>
      <tr>
        <p id="random-char">NAME OF CHARACTER</p>
      </tr>
    </table>
  </div>
</div>
</body>
<% include partials/script %>
<% include partials/randomDeath %>
</html>